{% extends 'blog/base.html' %}

{% block content %}
     {% for post in posts %}
         <div class="post">
             <div class="date">
                 <p>published: {{ post.published_date }}</p>
             </div>
             <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h1>
             <h4>Автор: {{ post.author }}</h4>
             <p>{{ post.text|linebreaksbr }}</p>
             <h5> Цена: {{ post.price }} рублей</h5>
         </div>
     {% endfor %}
{% endblock %}